{% extends 'app_patient/_base.html' %}
{% load static %}

{% block title %}
    صفحه اصلی
{% endblock %}

{% block extra_navbar_link %}
<li class="nav-item">
    <a class="text-success2 ml-3 my-1 navbar-brand" aria-current="page" href="#search_patient">جست وجوی پرونده</a>
</li>
{% endblock %}

{% block content %}

    <div class="row align-items-center">

            <!-- title and explanation -->
            <div class="order-1 col-md-6 order-md-0">
                <div data-aos="fade-up" data-aos-duration="2000">
                    <h2 class="text-right b_nazanin text-success1" >
                    سامانه ثبت اطلاعات بیماران
                    </h2>
                </div>
                <div data-aos="fade-up" data-aos-duration="2500" class="text-secondary b_nazanin">
                    <ul class="list-group list-group-flush text-right">
                      <li class="list-group-item"><h3>مشخصات فردی</h3></li>
                      <li class="list-group-item"><h3>سوابق بیماری</h3></li>
                      <li class="list-group-item"><h3>مراحل درمان</h3></li>
                      <li class="list-group-item"><h3>سوابق مراجعه</h3></li>
                      <li class="list-group-item"><h3>نسخه های تجویز شده</h3></li>

                    </ul>
                </div>
                {% if not request.user.is_authenticated %}
                    <div class="text-left" data-aos="fade-up" data-aos-duration="2500">
                        <a href="{% url 'app_account:login' %}" class="b_nazanin btn btn-lg btn-success text-white font-weight-bold">ورود</a>
                    </div>
                {% endif %}
            </div>

            <!--title image -->
            <div class="order-0 col-md-6 order-md-1" data-aos="fade-up" data-aos-duration="2000">
                <img src="{% static "images/Medicine-bro-dark-green.svg" %}">
            </div>

            {% if request.user.is_authenticated %}

            <!-- search image -->
            <div class="order-2 col-md-6 my-5 order-md-2" data-aos="fade-up" data-aos-duration="2000" id="search_patient">
                <img src="{% static 'images/Search-green.png' %}" class="img-fluid">
            </div>

            <!-- search patient form -->
            <div class="order-3 col-md-6 my-5 order-md-3" data-aos="fade-up" data-aos-duration="2000">
                <form method="post" action="" class="text-right">
                    {% csrf_token %}
                    <h3 class="b_nazanin">
                        جست و جوی سوابق مراجعه کننده با استفاده از کد ملی
                    </h3>
                    <label for="national_code" class="b_nazanin form-label">کد ملی</label>
                    <input type="text" name="national_code" id="national_code" class="form-control text-left dir_ltr" placeholder="national code">
                    <button type="submit" class="btn btn-success b_nazanin my-3">جست و جو</button>
                </form>
            </div>

            {% endif %}

        </div>
{% endblock %}