{% extends 'app_patient/_base.html' %}
{% load static %}

{% block title %}
    لیست ویزیت
    {{ patient.full_name }}
{% endblock %}


{% block content %}
    <h4 class="b_koodak_font text-secondary text-end border-bottom border-secondary pb-2 mb-3 pe-lg-5">
        لیست ویزیت
        <a href="{% url 'app_patient:patient_detail' patient.pk %}" class="text-success text-opacity-50">{{ patient.full_name }}</a>
    </h4>
    <div class="container mx-auto row align-items-center justify-content-center mb_200px">
        {% if visit_list %}
            {% for visit in visit_list %}
            <div class="col-11 col-sm-auto p-4 m-2  border-bottom border-warning border-opacity-25 border-5 rounded text-center b_nazanin text-secondary box_shadow" data-aos="fade-up" data-aos-duration="1700">
                <h4>
                    <span>تاریخ مراجعه:</span>
                    <span>{{ visit.datetime|date:"Y/m/d" }}</span>
                </h4>
                <h4>
                    <span>ساعت مراجعه:</span>
                    <span>{{ visit.datetime|date:"G:i:s" }}</span>
                </h4>
                <h4>
                    <span>پرداختی:</span>
                    <span>{{ visit.payment }}</span>
                    <span>هزار تومان</span>
                </h4>
                <div class="mt-3">
                    <a class="btn btn-lg btn_green mb-3" href="{% url 'app_patient:visit_detail' visit.pk %}">مشاهده</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            {% include 'includes/warning.html' with content='تاکنون ویزیتی ثبت نشده است!' %}
        {% endif %}
    </div>
{% endblock %}